<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div id="app" class="m-10">
        <div class="" @click="clickOutSide">
            <div class="flex justify-between px-10">
                <div>
                    <input type="text" placeholder="Search..."
                        class="px-8 py-3 rounded-md outline-none border border-gray-300"
                        @input="event => searchText = event.target.value">
                </div>
                <button class="px-6 py-2 rounded-md bg-blue-500 text-white font-semibold flex items-center">
                    <span class="mr-2">+</span>
                    <span>Create New</span>
                </button>
            </div>

            <table class="w-full mt-10 ">
                <thead class="text-xs text-gray-700 uppercase py-4 bg-white">
                    <tr scope="col" class="px-6 py-3  bg-white">
                        <th v-for="(column,index) in tableColumns" :key="index" class="text-start">
                            <span class="text-xl"> {{ column }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in filteredUsers" :key="index">
                        <td>
                            <div class="flex items-center py-4">
                                <img class="w-14 rounded-full" :src="user.avatar" alt="avatar"
                                    class="w-8 h-8 rounded-full">
                                <div class="mx-3">
                                    <p>{{ user.name }}</p>
                                    <b>{{user.email}}</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>{{user.role}}</span>
                        </td>
                        <td>
                            <span class="rounded px-2 py-2 text-white"
                                :class="user.status == 'active'? 'bg-green-400' : 'bg-red-400'">{{ user.status}}</span>
                        </td>
                        <td>
                            <span>{{user.lastActivity}}</span>
                        </td>
                        <td>
                            {{user.joinDate.split("T")[0]}}
                        </td>
                        <td class="relative">
                            <button type="button" @click="showPopup(user.id)" @click.stop=""
                                class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-white rounded-md bg-gray-500 hover:bg-gray-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75">
                                Actions
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="w-5 h-5 ml-2 -mr-1 text-violet-200 hover:text-violet-100" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <div :id="'action-' + user.id" data-display="none" :class="user.popup"
                                class="popup absolute right-0 w-32 mt-1 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 z-50 focus:outline-none">
                                <div class="px-1 py-1 popup">
                                    <button
                                        class="popup hover:bg-gray-400 hover:text-white text-gray-900 group flex rounded-md items-center w-full px-2 py-2 text-sm"
                                        @click.stop="">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="popup w-5 h-5 mr-2 text-violet-400" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
                                            </path>
                                        </svg>
                                        Edit
                                    </button>
                                    <button @click="onDelete(user.id)"
                                        class="popup hover:bg-red-400 hover:text-white text-gray-900 group flex rounded-md items-center w-full px-2 py-2 text-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="popup w-5 h-5 mr-2 text-violet-400" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                            </path>
                                        </svg>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="fixed inset-0 w-full h-screen bg-gray-300 opacity-10 z-[6]">
            <div class="absolute top-1/3 h-40 w-full bg-black z-[10]"></div>
        </div> -->
    </div>

    <script>
        const { createApp, ref } = Vue;

        createApp({
            data() {
                return {
                    searchText: "",
                    tableColumns: [
                        "user",
                        "role",
                        "status",
                        "last activity",
                        "join date",
                        "actions",
                    ],
                    userData: [
                        {
                            id: 0,
                            name: "John Doe",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "admin",
                            status: "active",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            popup: "hidden"
                        },
                        {
                            id: 1,
                            name: "John User",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "user",
                            status: "suspended",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            popup: "hidden"
                        },
                        {
                            id: 2,
                            name: "John Admin",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "admin",
                            status: "active",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            popup: "hidden"
                        },
                    ],
                };
            },
            methods: {
                search() {

                },
                showPopup(id) {
                    this.userData = this.userData.map(u => {
                        if (u.id === id) {
                            if (u.popup === "hidden") {
                                u.popup = "block"
                            } else {
                                u.popup = "hidden"
                            }

                            return u
                        } else {
                            u.popup = "hidden"
                            return u
                        }
                    })
                },
                clickOutSide() {
                    this.userData.forEach(u => u.popup = 'hidden')
                },
                onDelete(id) {
                    this.filterUser(id);
                },
                filterUser(id) {
                    this.userData = this.userData.filter(u => u.id !== id)
                }
            },
            computed: {
                filteredUsers() {
                    if (!this.searchText) return this.userData
                    return this.userData.filter(u => {
                        for (key in u) {
                            if (!u[key] || key === "popup" || key === "id") continue
                            if (u[key].toString().toLowerCase().includes(this.searchText)) return u
                        }
                    })
                }
            }
        }).mount("#app");
    </script>
</body>

</html>